# Keil µVision Project Outputs
*.obj
*.lst
*.dep
*.htm
*.lnp
*.sct
*.map
*.build_log.htm
*.uvgui.*
*.uvguix.*
*.crf
*.o
*.d
*.axf
*.elf
*.hex
*.bin
*.i

# Keil Intermediate Directories
Listings/
Objects/
DebugConfig/
 RTE/

# IDE User Settings
*.uvopt
*.uvoptx

# Temporary files
*.tmp
*.bak
*.swp